html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
}



.panels{
    display: flex;
    height: 45vh;
    justify-content: center;
}

.panel{
    height: 50vh;
    display: flex;
    flex: 1;
    transition: flex 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.panel:hover{
    flex: 2;
    opacity: 100%;
}

.panel>.Title:hover{
    opacity: 100%;
}

.qfb{
    background-image: url("../img/qfb.png");
}

.opd{
    background-image: url("../img/opd.jpg");
  

}
.crack{
    background-image: url("../img/crack.jpg");

}
.ra{
    background-image: url("../img/ra.jpg");

}

.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title{
    display: flex;
    color: #17003d;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'RG Future Regular';
    opacity: 100%;
    transition: opacity 1s;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
