html,body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.bleu{
    color: red;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pic{
    display: flex;
    height: 100vh;
    width: 100vw;
    height: 100%;
    flex:1;
    transition: flex 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel:hover{
    flex:4
}

.panel>.titreJeu:hover{
    opacity: 100%;
}

.operation{
    background-image: url("../img/opd.jpg");
}

.crack{
    background-image: url("../img/ds1.jfif");
  

}
.rift{
    background-image: url("../img/ds2.jpg");

}
.quest{
    background-image: url("../img/ds3.jpg");

}

.titreJeu{
    color: white;
    font-size: 6em;
    font-family: 'Times New Roman';
    opacity: 0%;
    transition: opacity 1s;
}