html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url('../img/galaxy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
}



.panels{
    display: flex;
    height: 45vh;
    justify-self: center;
}

.panel{
    height: 100%;
    flex:1;
    transition: flex 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.panel:hover{
    flex: 3;
    opacity: 100%;
}

.panel>.Title:hover{
    opacity: 100%;
}

.qfb{
    background-image: url("../img/qfb.jpg");
}

.opd{
    background-image: url("../img/opd.jpg");
  

}
.crack{
    background-image: url("../img/crack.jpg");

}
.ra{
    background-image: url("../img/ra.jpg");

}

.title{
    color: #17003d;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Arial';
    opacity: 100%;
    transition: opacity 1s;
}

.card{
    display: flex;

}