html,body{
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    background: linear-gradient(#0d4b71, 50%, #17003d );
}

.h1{
    display: flex;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'RG Future Regular';
    opacity: 100%;
    transition: opacity 1s;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    margin: 10px;
}

.panels{
    display: flex;
    height: 45vh;
    justify-content: center;
}

.panel{
    height: 50vh;
    display: flex;
    flex: 1;
    border-radius: 10px;
    margin: 5px;
    transition: flex 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 70px;
}

.panel:hover{
    flex: 3;
    opacity: 100%;
    margin: 0;
    transition: 1.2s;
}

.opd{
    background-image: url("../img/opd.jpg");
    margin-left: 20px;

}

.nexus{
    background-image: url("../img/nexus.jpg");

}

.crack{
    background-image: url("../img/crack.jpg");

}
.ra{
    background-image: url("../img/ra.jpg");
    margin-right: 20px;
}

.grid-container-bs-light{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
}

.p{
    display: flex;
    color: #ffffff;
    flex: 1;
    transition: flex 1s;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.grid-container:hover{
    flex: 3;
    font-size: large;
    transition: 0.5s;
}

.container {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: flex-start;  
    color: #ffffff;
    width: 100vw;
    margin-top: 100px;
}

h3{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Tahoma sans-serif';

}